/* CARD HOME */
ion-card{
  margin-top: 3%;
}

ion-card-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-content h4{
  font-size: 1.2em;
  color: #717171;
  margin-bottom: 0;
  margin-top: 6%;
  margin-left: 5%;
}