<ion-header>
  <ion-toolbar>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['../login']">
        <ion-icon name="arrow-round-back" color="primary"></ion-icon>
      </ion-fab-button>  
    </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
		<ion-col>
			<ion-row class="head">
				<h3>Nome</h3>
				<p>Nota</p>
				<p>icone</p>
			</ion-row>
			<ion-row>
				<p>endereço</p>
				<p>Bairro</p>
				<p>Estado</p>
			</ion-row>
				<p>info</p>
				<p>vagas</p>
				<div>
				<ion-row>
					<p>Tipo1</p>
					<p>Preço1</p>
				</ion-row>
				<ion-row>
					<p>Tipo2</p>
					<p>Preço2</p>
				</ion-row>
				<ion-row>
					<p>Tipo3</p>
					<p>Preço3</p>
				</ion-row>
				</div>
					<p>comodos</p>
					<p>lista</p>
					<p>img</p>

		</ion-col>
	</ion-card>


</ion-content>
