.column{
    margin-left: 10px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.republic_name_note{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.republic_stars{
    margin-top: 10px;
    margin-left: 10px;
}

.republic_buttons{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    color: #3D1321; 
    margin-top: 2%;
}

.republic_buttons ion-icon{
    margin: 0 2%;
}

.full_address{
    display: flex;
    justify-content: space-between;
}

.subtext{
    margin-left: 10px;
}

.comodos{
    margin-top: 14px;
}

.comment_bar{
    justify-content: space-between;
}

.logo_comment{
    margin-left: 16px;
    color: #717171;
}

.comment_button{
    color: #717171;
    margin-top: 3%;
    margin-right: 5%;
}

.comment{
    padding: 20px;
}

.comment_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.comment_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.comment_name{
    margin-top: -2%;
}

.comment_text{
    padding: 20px;
}

.comment{
    --background: #f2f2f2;
}

ion-item{
    --background: #E3D9CF;
}

ion-list{
    --background: #E3D9CF;
}


/* BOTÃO VOLTAR */
ion-fab-button{
    --border-color: #7D0D23;
    --border-width: 2px;
    --border-style: solid;
    --background: #00000000;
    width: 7vw;
    height: 4vh;
}

/*  HEADER */
ion-toolbar{
    --background: #E3D9CF;
}


/* CHIP COM NOTA */
ion-chip{
    --background: #7D0D2320;
    color: #717171; 
}

/* IMAGEM DA REPÚBLICA */
.img-republic{
    width: 80%;
    height: 80%;
    border: 2px solid #717171;
    border-radius: 2px;
}

/* COLUNA DA IMAGEM DA REPUBLICA */
.column-intern{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FORMULÁRIO */
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    --background: #f2f2f2;
}
form{
    --background: rgba(0, 0, 0, 0);
    color: #717171;
    width: 80vw;
}

ion-item{
    --background: rgba(0, 0, 0, 0);
}

ion-item p{
    color: #717171;
    font-size: 0.9em;
    margin-left: 2%;
    margin-top: 1%;
}

ion-list{
    background-color: rgba(0, 0, 0, 0);
}

ion-input{
    background-color: #71717140;
    border-radius: 15px;
    --padding-start: 5% !important;
}

ion-label{
    margin-left: 5%;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TEXTAREA */
ion-textarea{
    background-color: #71717140;
    border-radius: 15px;
    --padding-start: 5% !important;
    width: 100%;
    color: #717171;
}

ion-card{
    --background: #f2f2f2;
}

/* COMENTÁRIOS */
.comment_evaluation{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}