<ion-header>
  <ion-toolbar>
    <ion-title> Cadastro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form>
		<ion-label> Nome completo </ion-label>
		<ion-input type="text" placeholder="Maria das Graças"> </ion-input>
		<ion-label> E-mail </ion-label>
		<ion-input type="text" placeholder="mariadasgracas@gmail.com"> </ion-input>
		<ion-label> Senha </ion-label>
		<ion-input type="password" placeholder="Crie sua senha"> </ion-input>
		<ion-label> Confirmação de senha </ion-label>
		<ion-input type="password" placeholder="Confirme sua senha"> </ion-input>

		<ion-radio-group>
			<ion-item>
				<ion-label> Procuro república </ion-label>
				<ion-radio slot="start" value="procura"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label> Ofereço república </ion-label>
				<ion-radio slot="start" value="oferece"></ion-radio>
			</ion-item>
		</ion-radio-group>

		<ion-button shape="round"> Enviar </ion-button>
	</form>
</ion-content>
<!-- 
	<form>
		<ion-label> Nome </ion-label>	
		<ion-input type="text" name="nome" placeholder="Digite seu nome completo"></ion-input>
		<ion-input type="text" name="email" placeholder="Digite seu e-mail"></ion-input>
		<ion-input type="password" name="senha" placeholder="Crie sua senha"></ion-input>
		<ion-input type="password" name="confirmacao_senha" placeholder="Por favor, confirme sua senha"></ion-input>

		<ion-radio-group>
			<ion-item>
				<ion-label> Procuro república </ion-label>
				<ion-radio slot="start" value="procura"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label> Ofereço república </ion-label>
				<ion-radio slot="start" value="oferece"></ion-radio>
			</ion-item>
		</ion-radio-group>

		<ion-button shape="round"> Enviar </ion-button>
	</form>-->