<ion-header>
</ion-header>

<ion-content fullscreen>
	<ion-fab vertical="top" horizontal="end" slot="fixed">
		<ion-fab-button>
		  <ion-icon name="arrow-round-back" color="primary"></ion-icon>
		</ion-fab-button>  
	</ion-fab>

	<div class="container">
		<div id="logo">
			<img src="../../assets/logo.png">
		</div>
		<div>
			<form>
				<ion-list lines="none">
					<ion-item>
						<ion-label position="floating"> Nome completo </ion-label>
						<ion-input type="text" name="name"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="floating"> E-mail </ion-label>
						<ion-input type="text" name="email"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="floating"> Senha </ion-label>
						<ion-input type="password" name="password"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="floating"> Confirmação de senha </ion-label>
						<ion-input type="password" name="check_password"></ion-input>
					</ion-item>
					<ion-item>
						<ion-radio-group class="checkbox">
							<ion-label> Você é: </ion-label>
							<div class="options">
								<ion-item>
									<ion-label> Inquilino </ion-label>
									<ion-radio slot="start" value="tenant"></ion-radio>
								</ion-item>
								<ion-item>
									<ion-label> Locador </ion-label>
									<ion-radio slot="start" value="locator"></ion-radio>
								</ion-item>
							</div>
						</ion-radio-group>
					</ion-item>
				</ion-list>
				<div class="button">
					<ion-button shape="round"> Cadastrar </ion-button>
				</div>
			</form>
		</div>
	</div>
</ion-content>