<!-- ESTRUTURA DO HEADER SEM AUTENTICAÇÃO -->
<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <div id="logo">
        <img src="../../assets/icon/icon.png">
      </div>
      <div id="searchbar">
        <ion-searchbar animated></ion-searchbar>
      </div>
      <div id="login">
        <a href="../../login/login.page.html"><img src="../../assets/Login.png"></a>
      </div>
    </div>
    <div class="slogan">
      <h6> Encontre sua república dos sonhos com o <span> Hommy! </span></h6>
    </div>
  </ion-toolbar>
</ion-header>
